<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="WSGI_ALT_VIRTUALENV_HANDLER" value="app.wsgi_app()" />
    <add key="WSGI_ALT_VIRTUALENV_ACTIVATE_THIS" value="%ROOTDIR%\env\Scripts\python.exe" />
    <add key="WSGI_HANDLER" value="hello.app" />
    <add key="PYTHONPATH" value="%ROOTDIR%" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--You get better error messages with this uncommented <customErrors mode="Off" />-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="Static Files" path="static/*" verb="GET" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="%INTERPRETERPATH%|%WFASTCGIPATH%" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>
